<section id="Contactos">
            <div class="container">
                <div class="flex'container">
                    <div>
                        <br>
                        <br>
                        <li>DIRECCION</li>
                        <p class="contac">Av. Luis Leoro Franco y Garcia Moreno Imbabura, Ecuador</p>
                        <li>EMAIL</li>
                        <p class="contac">email@hotmail.com</p>
                        <li>TELEFONO</li>
                        <p class="contac">+593985821006</p>
                        <br>
                        <br>

                    </div>
                    <div class="derechos">

                    </div>
                </div>

            </div>
        </section>