<header id="Encabezado">
        <div class="letraEnc">
            <h3>De su comodidad, para su comodidad.</h3>
            <h1>EcuAutos</h1>
            
            <div>
                <button>Más Información</button>
            </div>
        </div>
    </header>