<section id="Productos">
            <div class="container">
                <div class="flex-container">
                    <div class="produc">
                        <h2>Nuestros Autos</h2>
                        
                        <p>Elige los autos que desees, recuerda que manejamos calidad de empresas de renombre, ademas de una buena grantía.</p>
                        <br>
                        <br>
                        <br>
                        <button class="button">
                            Inventario
                        </button>
                    </div>
                    
                    <div class="productos">
                        <img class="img-prod" src="images/car 2.jpg" width="200px" >
                            <br>
                            <br>
                            <figcaption>275.000$</figcaption>
                            <br>
                            <br>
                            <h4>CAMARO</h4>
                    </div>
                    <div class="productos">
                        <img class="img-prod" src="images/car3.jpg" width="200px" >
                            <br>
                            <br>
                            <figcaption>250.000$</figcaption>
                            <br>
                            <br>
                            <h4>LAMBORGHINI</h4>
                    </div>
                </div>

            </div>
        </section>