<section id="acercaDe" >
            <div class="container">
                <div class="flex-container">
                    <div class="acercaDeImg separacion">
                        <img src="images/tumblr_inline_pg8sa8oxY71v5mdne_1280.jpg" alt="">
                    </div>
                    <div class="separacion">
                        <article>
                            <h3>a cerca de nosotros.</h3>
                            <h2>EcuAutos</h2>
                            <p>
                                Las Mejores Ofertas y Los Mejores Beneficios Solo En Imbauto. Tenemos El Auto Que Necesitas Con Todas Las Facilidades De Pago Que Deseas. ¡Más Info!
                            </p>
                            <br><br>
                            <button>Más Información</button>
                        </article>
                    </div>

                </div>

            </div>
        </section>